<!DOCTYPE html>
<html>
<head>
  <title>ProjectDjello</title>
  <%= stylesheet_link_tag    'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body <%= content_for(:angular) %> >

	<nav ng-controller='NavbarCtrl'>
		<a ui-sref='boards'><h3>Djello</h3></a>

		<%= content_for(:angular_navbar) %>
	</nav>

	<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

	<%= yield %>

</body>
</html>
